body{
  background-color: #6c7da1;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

.input-section {
  flex: 1;
  padding: 1rem;
  border-right: 1px solid #ddd;
}

.search-section {
  flex: 1;
  padding: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.input {
  margin-bottom: 0.5rem;
}

.books-search {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#search-input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4;
}

header {
  color: #fff;
  text-align: center;
}

/* input section */
.input-section {
  flex: 1;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #445882;
}

.input-section h2 {
  color: #fff;
}

.input {
  margin-bottom: 1rem;
}

.input label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
}

.input input,
.input select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#status-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 1rem;
}

#btn_submit {
  background-color: #2196f3;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
}

#btn_submit:hover {
  background-color: #0e82d0;
}

/* output section */
h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}


.search-section {
  flex: 1;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #445882;
}

.search-section h2 {
  margin-bottom: 1rem;
  color: #fff;
}

.books-search {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#search-input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#search-button {
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #fff;
}

#status-filter {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 1rem;
}

.search-section h3 {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
}

.card-books {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.card-books:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-books > div {
  margin-bottom: 0.5rem;
}

.card-books h2 {
  margin-bottom: 0.5rem;
  color: #333;
}

.card-books p {
  margin-bottom: 0.1rem;
  color: #333;
}


.btn-bookshelf button {
  background-color: #ccc;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-bookshelf button:hover {
  background-color: #999;
  color: #ffffff;
}

/* pop up edit */
.edit-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #445882;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  z-index: 999;
  width: 80vw;
  max-width: 400px;
  /* Atur lebar maksimum card */
}

.edit-popup h3 {
  margin-bottom: 1rem;
  color: #fff;
}

.edit-popup label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
}

.edit-popup input {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-container {
  text-align: right;
}

.btn-container button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-container button:hover {
  background-color: #0056b3;
}


.btn-bookshelf button i {
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column; 
  }

  .input-section, .search-section {
    flex: 1;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .card-books {
    width: 90%;
  }

  .edit-popup {
    width: 90%;
    max-width: none;
  }

  .btn-container {
    text-align: center;
  }
}
